body{
	font-family: Microsoft Yahei;
}
*{
      font-size:100%;
    }
    @media screen and {
    
  }
  @media screen and (min-width: 1000px){
    
      
  }
  /*pad 640-1000*/
  @media screen and (min-width:600px) and (max-width:1000px){
    
  .btmpresent{
     
    display: none;

  }
      
  }
  /*phone小于640 px*/
  @media screen and (max-width:640px){
    
    .btmpresent{
     
    display: none;

  }
  .botnLogo{
    display: none;
    }

   .footer{
    width: 60%;
    margin:auto;
    background: yellow;
   } 
  }
.footer{
	width: 100%;
	height: auto;
	background-color: #3d3e43;
  overflow: hidden;
  zoom:1;
}
.fl{
	float: left;
}
p.btmpresent{
  margin-top: -18px;
  margin-bottom: 1%;
  margin-left: 5%;
  color: #bfbfbf;
  font-size: 12px;
  font-family: Tahoma;
}
.clearfix{
	clear: both;
    overflow: hidden;
    zoom: 1;
}
img.botnLogo{
  margin-top: 30px;
  margin-right: 42px;
  margin-bottom: 30px;
  height: 80px;width: 80px;
}
.auto{
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
}
.clearfix{
	clear: both;
    overflow: hidden;
    zoom: 1;
}

.footer-section{
	float: left;
        display: inline-block;
	margin-right: 10px;
	margin-left: 15%;
	color: #bfbfbf;
}

.footer-section h3{
	color: #bfbfbf;
	font-size: 18px;
	padding: 4px;
}

.footer-section a{
	color: #bfbfbf;
	font-size: 13px;
	font-family: Microsoft Yahei;
}
img.btmlogos{
  margin-top: 41px;
  width: 216px;
}